<mat-tree [dataSource]="files" [treeControl]="treeControl" class="example-tree">
  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
    <li>
      <button (click)="onClickNode(node)">
        <div class="tree-node">
          <fa-icon [icon]="getLeafIcon(node)"></fa-icon>
          <span>{{node.name}}</span>
        </div>
      </button>
    </li>
  </mat-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
    <li>
      <button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
        <div class="tree-node">
          <fa-icon *ngIf="treeControl.isExpanded(node)" [icon]="folderMinusIcon"></fa-icon>
          <fa-icon *ngIf="!treeControl.isExpanded(node)" [icon]="folderPlusIcon"></fa-icon>
          <span>{{node.name}}</span>
        </div>
      </button>
      <ul *ngIf="treeControl.isExpanded(node)">
        <ng-container matTreeNodeOutlet></ng-container>
      </ul>
    </li>
  </mat-nested-tree-node>
</mat-tree> 
