:host {
  overflow-y: auto;
}

mat-tree-node {
  min-height: unset;
}

button {
  display: block;
  width: 100%;
  border: none;
  background-color: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

fa-icon {
  font-size: 20px;
  text-align: center;
  line-height: 15px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0 0 0 30px;
}

li {
  display: block;
  width: 100%;
  list-style: none;
}

.tree-node {
  display: grid;
  grid-template-columns: 20px 1fr;
  grid-gap: 5px;
  align-items: start;
  margin: 5px 0;
  text-align: left;
}
