<main>
  <app-file-tree [files]="files" (fileSelect)="onFileSelect($event)"></app-file-tree>
  <div class="file-content-area">
    <div>
      {{ selectedFile ? selectedFile.name : 'File data or contents appear here' }}
    </div>
  </div>
</main>