main {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 10px;
  height: 90vh;
}

app-file-tree {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
}

.file-content-area {
  color: gray;
  font-size: 3em;
  border: 1px solid gray;
  border-radius: 5px;
  position: relative;
}

.file-content-area > div {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}